*{
    margin: 0px ;
    padding: 0px; 
}

.navbar {
    /* margin-top: 20px; */
    display: flex;
    list-style-type: none;
    height: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    background-attachment: fixed;
    border-bottom: 1px solid;
    border-color: #e7e7e7;
    overflow: hidden;
}


.navbar li a{
    color: #6b6b6b;
    display: block;
    font-size: 16px;
    line-height: 10px;
    font-weight: 500px;
    padding: 25px 15px 30px;
    /* overflow-x: hidden; */
    border-top: 2px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
    
}

.navbar a{
    text-decoration: none;

}

 .navbar .po{
    background-color: #ff432e;
}
.navbar .po a
{color: white;

} 

 .one a{
    text-decoration: none;
}

.one{
    margin-right: 30%;
    height: 50px;
    padding: 20px 15px 15px;
}

.navbar .one a {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    padding-top: 18px;
    padding-bottom: 10px;
    color: #ff432e !important;
    /* background-color: white; */
    /* font-weight: 450px; */
    
}

.navbar li:hover a{
    background-color: #ff432e;
    color: white;
}

.navbar li:first-child a{
    background-color: white;
}
  

 /* for navbar  */

@media screen and (min-width: 320px) and (max-width:480px)
{
    body{
        background-color: white;
    }

    .navbar{
        height: auto;
        flex-direction:column ;
        width: fit-content;
        width: 50%;
        line-height: 0px; 
        padding: 0px 45px; 
        margin-left: 10%;
    }
    .navbar li a{
        font-size: small;
        padding: 10px; 
    }

    .one{
       margin: 0px;
       padding: 0px;
       margin-right: 10%;
    }

}

/* end  */


.page{
    background-image: url("banner.jpg");
    padding: 50px 0;
    margin-top: 80px;
    /* border-color: #e7e7e7; */
}

.page1 h1{
    /* position: relative; */
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15%;
    font-size: 36px;
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    color: #fff;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

/* end  */

@media screen and (min-width:320px) and (max-width:480px)
{
    

    .page1 h1{

        font-size: 36px;
        margin-left: -10%;
    }

}



/* start  */


.portfolio{
    text-align: center;
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 80px;
   padding-bottom: 120px;
    background: #f2fffc;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
}
 
.portfolio h2{
    color: #111;
    font-size: 48px;
    font-weight: 100;
}

.portfolio p{
    color: #111;
   letter-spacing: 1px;
    font-size: 18px;
   font-weight: 300;
   margin-bottom: 80px;
   
  
}

.port{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.overlay_1 h4{
    display: inline-table;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    text-align: center;
    font-size: 18px;
     padding-top: 10%;
}

.overlay_1 p{
position: relative;
top: 12%;
color: #fff;
font-size: 18px;
letter-spacing: 1px;
padding: 0 10%;
font-size: 16px;
font-weight: 400;
line-height: 1.5em;}


.pic{
    height: 100%;
    width: 100%;
}

.port1{
    position: relative;
    overflow: hidden;
}

.overlay_1 {
    height: 0%;
    width: 100%;
    background-color: rgba(255, 67, 46, 0.8);
    position: absolute;
    bottom: 0;
    transition: all 0.3s;
    overflow: hidden;
    color: white;
}
 
.overlay_1 .ion{
display: block;
max-width: 100%;
height: auto;
padding-top: 10%;
font-size: 40px;
font-weight: 100;

}

.ion{
    font-size: larger;
    font-weight: 200;
}

  

.port1:hover .overlay_1{
    height: 100%;
}

/* end portfolio  */

@media screen and (min-width:320px) and (max-width:480px)
{
    .portfolio{
        margin: 20px;
    }

  

   .overlay_1{
    width: fit-content;
    height: 0;
   }

   .overlay_1 .ion{
    max-width: fit-content;
    font-size: 20px;
    padding: 0;
    margin: 0;
    margin-left: 35%;
}


.portfolio h2{
font-size: 30px;
}

.portfolio p{
font-size: 14px;
font-weight: 100;
}


   


}









/* end  */

.footer{
    border-bottom: 1px solid #0f0f0f;
    background: #222222;
    color: #999;
    font-weight: 400;
    padding-top: 30px;
    /* padding: 80px 0 60px; */
    /* line-height: 30px; */
}

.head h3 span{
    color: rgba(255, 255, 255, 0.799);
}

   /* .footer1{
    width: 1170px;
    
   } */

   .row{
    display: flex;
    justify-content: center;
     margin-right: 15%;
     margin-left: 15%;
    }

    .col{
        width: 25%;
    }

 .head h3{
    font-weight: 200px;
  font-size: 16px;
   margin-bottom: 15px;
   color: #999;
}

.ib{
    /* color: #6a6a6a; */
    font-size: 16px;
    color: #999;
    margin-right: 5px;
    line-height: 30px;
}

.ib{
    margin: 0;
    padding: 0;
    padding:5px 0
}

.ib li{
    list-style-type: none;
}

.lv{
    margin-left: 10%;
}

.twi{
    display: inline-block;
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
    line-height: 20px;
    /* font-weight: 200; */
}

.twi li{
    list-style: none;
}

.twi1{
   display: table-cell;
    vertical-align: top;
    width: 10000px;
}

.media-heading{
    font-size: 16px;
    color: #FF432E;
    font-weight: 100;

    margin-top: 0;
    margin-bottom: 5px;
}


.twi p{
    font-size: 13px;
    color: #999;
    /* margin-left: 10%; */
}

.sw h3{
    margin-left: 10% ;
}

.form p{
    font-size: 16px;
    font-weight: 400;
    color: #999;
    line-height: 1.5em;
    margin-left: 10%;
}


.form-control{
    margin-left:10% ;
    border-radius: 0;
    border: 2px solid #111;

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
}

.btn4{
    background: #ff432e;
    border-color: #ff432e;
    font-size: 16px;
    padding: 8px 15px;
    margin-left: 11%;
    border-radius: 4px;

}

.btn4:hover{
    color: #ff432e;
    background-color:#222222;
}

.fs1{
    margin-left: 30%;
}


.fs1 h3{
    font-size: 16px;
   margin-bottom: 15px;
   color: #999;
   font-weight: 200px;
}

.fs{
    padding: 0;
    margin: 0; 
    margin-left: 30%; 

}

.fs li{
    list-style-type: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 23.97%;
}

.fs li .img-2{
    width: 100%;
    height: auto;
}
 
 .img-2{
    display: block;
    max-width: 100%;
}



.main{
    display: flex;
    justify-content: center;
    width: auto;
    /* height: 80px; */
    padding: 20px 0;
    align-items: center;
    border-top: 1px solid #363636;
    margin-top: 50px;
    background: #1d1d1d;
    color: #7f7f7f;
}
.foot_list{
    display: flex;
}


.foot_list li{
    padding: 0px 10px;
}


.text_main{
     margin-left: 10%; 
     /* padding-left: -15%;  */
}

.text_main p{
    margin-left: -20%;
    font-size: large;
    color: #7f7f7f;
}

.foot_list li{
    list-style-type: none ;
}

/* .foot_list li a{
    padding-right: -10%;

} */

.foot_list li a{
    text-decoration: none;
    color: #7f7f7f;
    /* font-size: small; */
}

.foot_list li a.active{
    color: white;
}

.foot_list li a.active:hover{
   color: #ff432e;
}

.col h3 span{
    color: rgba(255, 255, 255, 0.81);
    font-size: 16px;
}



/* end  */
















/* end  */


@media screen and (min-width:320px) and (max-width:480px)
    {
        


        .row{
            flex-direction: column;
            margin-left: 10%;
        }

        .col{
            width: fit-content;
        }

        .twi1{

            width: fit-content;
          
        }

        .main{
            /* margin-top: 50px; */
            flex-direction: column;
            width: fit-content;
        }

        .text_main .foot_list li{
            font-size: small;
        }
        
        .text_main p{
            font-size: medium;
            margin: 0;
           }
    
           .foot_list li{
            padding: 0;
            margin: 0;
        }


        .sw{
            margin-left: -10%;
        }
        .form{
            margin-left: -10%;
        }

        .fs1{
            margin-left: -10%;
        }


        .fs{
            margin-left: -10%;
        }










    }